.top-episode {
    border: 2px solid var(--theme-lighter-grey);
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 1em;
}

.top-episode-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: left;
    align-items: baseline;
    margin-bottom: 3em;
}

.top-episode-container {
    flex: 0 0 25%;
}

.top-episode-container h5 {
    margin-bottom: 3px;
}

.top-episode-container ul {
    margin: 0;
}

.top-episode-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -1em -1em 0.2em -1em;
    padding: 1em;
    background-color: var(--theme-lighter-grey);
    border-radius: 6px 6px 0 0;
}
